dl div {
    display: flex;
    column-gap: 0.5rem;
    margin: 0.5rem 0 0 1rem;
}

dd {
    font-weight: 600;
    color: rgb(218, 234, 234);
}

.cur-temp-section {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    inline-size: 100%;
}

.left-section {
    text-align: left;
}

.main {
    text-align: center;
}

.main h3 {
    font-size: 25px;
    margin: 15px 0;
    color: rgb(153, 179, 228);
}

.main strong {
    font-size: large;
}

.main img {
    width: 70px;
    height: auto;
    padding: -15px;
    margin: -15px;
}


.main h3 span {
    font-size: small;
    margin: 0 5px;
}


.cur-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.cur-weather p {
    font-size: 25px;
    margin-top: 0.5rem;
}


.right-section dl {
    justify-content: center;
    align-items: center;
}

dt {
    flex: 1;
}

/* Responsive */
@media (max-width: 1000px) {
    .cur-temp-section {
        font-size: small;
    }

    h3,
    .bold {
        font-size: 18px;
    }
}


@media (max-width: 840px) {
    .cur-temp-section {
        grid-template-columns: auto;
        padding: 1rem 0;
    }

    dd,
    dt {
        border-bottom: 1px solid rgba(126, 145, 158, 0.75);
    }
}

@media (max-width: 680px) {
    .cur-temp-section {
        padding: 1 0.5rem;
        margin-top: 1rem;
    }

    .right-section {
        margin-bottom: 1.5rem;
    }

}