.search {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    background-color: aliceblue;
    border-radius: 50px;
}

.search input {
    font-size: 15px;
    padding: 0.7rem 1.3rem;
    width: 100%;
    border-radius: 50px;
    background-color: unset;
    border: unset;
    font-weight: 600;
    outline: unset;
    transition: all 0.5s;
}

.search input:focus {
    background-color: rgb(196, 203, 209);
}

.search button {
    font-size: 15px;
    border-radius: 50px;
    border: unset;
    background-color: #00796B;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
    margin-left: -2rem;
    color: aliceblue;
    cursor: pointer;
}

.search-wrapper {
    padding: 0 4rem;
}

.search button:hover {
    background-color: #005f79;

}

@media (max-width:600px) {
    .search input {
        font-size: 14px;
        padding: 0 1rem;
    }

    .search {
        margin: 1rem auto;
    }

    .search-wrapper {
        margin-top: 0;
    }

    .search-wrapper img {
        max-width: 80px;

    }
}

@media (max-width:350px) {
    .search input {
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
    }

    .search button {
        padding: 0.2rem 0.4rem;
        font-weight: 500;
        font-size: 12px;
    }

    .search-wrapper {
        padding: 0;
    }

    .search-wrapper img {
        display: none;
    }
}