@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Vazirmatn:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* light theme */
    --bg: linear-gradient(to bottom, #6384b8, #848aad, #9fa0c0);
    --text: #B0BEC5;
    --card: #ffffff44;
}

/* dark theme applied when top-level element has id="dark" */
#dark {
    --bg: linear-gradient(to bottom, #141e30, #243b55);
    --text: #E6EEF8;
    --card: #0f172044;
    --button: rgb(11, 81, 95);
}

#light {
    --bg: linear-gradient(to bottom, #6384b8, #848aad, #9fa0c0);
    --text: #B0BEC5;
    --card: #ffffff44;
    --button: #07537cd2;

}

html,
body {
    font-family: "Arimo", sans-serif;
    background: var(--bg);
    color: var(--text);
    background-attachment: fixed;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    transition: background 0.5s ease;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

dl {
    line-height: 1.7rem;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

.weather-app {
    margin: 0 5rem 3rem 5rem;
    border-radius: 10px;
    padding: 0 1.5rem;
    background-color: #2f4c5ba5;
}

@media (max-width:500px) {
    .weather-app {
        margin: 0 0.5rem;
        margin-bottom: 2rem;
    }
}